@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./material-icons/iconfont/material-icons.css');
@import url('./modules/loginPage.css');
@import url('./modules/orderPage.css');
@import url('./modules/homePage.css');
@import url('./modules/singleProduct.css');
@import url('./modules/purchase.css');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
	outline: none;
	border: none;
	text-decoration: none;
	list-style: none;
}

:root{
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #0f1531;
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #434a54;
    --gray-light: #aab2bd;
    --gray-lighter: #e8eff4;
    --gray-lightest: #e6e9ed;
    --black: #000000;
    --primary: #4B49AC;
    --secondary: #a3a4a5;
    --success: #57B657;
    --info: #248AFD;
    --warning: #FFC100;
    --danger: #FF4747;
    --light: #f8f9fa;
    --dark: #282f3a;

    /*Colores de la universidad*/

    --red-UD: #8c1919;
    --black-UD: #192129;
}

.main-content{
    width: 80%;
    margin:auto;
}

/*Top menu*/

header{
    background-color: #080c17
}

nav{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 30px;
    height: 100px;
}

.logo-ud-identity{
    display: flex;
    cursor: pointer;
}

.logo-ud-identity > img{
    width: 40px;
    border-radius: 10px;
    display: inline-block;
    margin: auto 0;
}

.logo-ud-identity > span {
    margin: auto 80px auto 20px;
    color: var(--white);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

nav > ul{
    text-align: right;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: right;
}

nav > ul > li{
    margin-left: 80px;
    position: relative;
    cursor: pointer;
}

#login-button{
    background-color: transparent;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
    border: 2px solid #ffcf00 !important;
    transition: 0.1s all;
}

#login-button:hover{
    background-color: #ffcf00;
    color: var(--black);
    transition: 0.1s all;
}

.menu-icon{
    position: absolute;
    top: 0;
}

/* Footer */

footer{
    background-color: #080c17;
}

.footer-container{
    width: 80%;
    margin: auto;
}

.social-media-footer .container-margin{
    color: #fff;
    height: 80px;
    border-bottom: 1px solid rgb(255, 255, 255,0.2);

}

.social-media-text{
    margin-top: 30px;
    font-size: 20px;
}

.info-footer{
    border-bottom: 1px solid rgb(255, 255, 255,0.2);
    padding-bottom: 40px;
}

.title-footer{
    margin-top: 40px;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.line-below-title-footer{
    width: 40px;
    list-style: none;
    border-bottom: 2px solid #ffcf00;
    margin-bottom: 30px;
}

.txt-desc-footer{
    margin-right: 55px;
    font-weight: 400;
    font-size: 15.5px;
    color: rgb(235, 235, 235);
}

.item-list-footer li , .item-list-footer li a{
    text-decoration: none;
    list-style: none;
    margin-bottom: 22px;
    font-size: 15.5px;
    color: rgb(226, 226, 226);
    cursor: pointer;
    transition: 0.5s;
}


.list-2{
	padding-left: 10px;
}


.item-list-contact span img{
    width: 25px;
    display: inline-block;
    margin-left: -35px;
    margin-right: 10px;
    padding-top: 5px;
}

.item-list-footer li a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s;
}

.final-info-footer p{
    text-align: center;
    color: #fff;
    padding: 30px 0;
}

.cajaPerros{
    background-color: #46c35f;
    color: var(--black-UD);
    padding: 40px;
}