.login-section{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.login-box{
    width: 25%;
    background-color: var(--white);
    box-shadow: 1px 1px 25px rgb(219 219 219 / 80%);
    border-radius: 35px;
    padding: 60px;
}

.login-img{
    width: 70%;
    display: block;
    margin: 0 auto 50px auto;
}

.form-login{
    padding-bottom: 20px;
}

.form-login h2{
    text-align: center;
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 0px auto 50px auto;
}

.form-login > form > label,
.form-login > form > input{
    width: 100%;
}

.form-login > form > label{
    color: var(--black);
}

.input-form{
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
    margin: 8px 0 30px 0;
    border: 1px solid #ccc;
}

.input-form:focus{
    border: 1px solid var(--black-UD)
}

.loginButton{
    border-radius: 0 !important;
    height: 60px !important;
    background-color: #ffcf00;
    color: var(--white);
    border-bottom: 5px solid #1f2044;
    border-right: 5px solid #1f2044;
    color: #1f2044;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    transition: 0.1s all;
}

.loginButton:hover{
    background-color: #eec100;
    transition: 0.1s all;
}

#error-form{
    width: 100%;
    height: 40px;
    background-color: #e68a89;
    border-radius: 8px;
    margin-bottom: 20px;
    line-height: 40px;
    padding-left: 20px;
    font-size: 14px;
    display: none;
}


#error-form::before{
    padding-right: 20px;
    width: 12px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    content: url(../../assets/warning.svg);
}