.findOrderSection{
    width: 85%;
    margin: auto;
    padding: 50px 0;
    color: var(--white);
}

.findOrderSection > h1{
    margin-bottom: 30px;
}

.orderMetrics{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 70px;
}

.metric_card{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    transition: 0.2s all;
    background-color: #1f213a;
}

.metric2_card{
    width: 100%;
    height: 250px;
    transition: 0.2s all;
}

.metric_product{
    width: 100%;
    height: 110px;
    background-color:#1f213a;
    margin-bottom: 30px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
}

.metric2_imgs{
    width: 60px;
    height: 60px;
    background-color: rgba(128, 128, 128, 0.237);
    border-radius: 15px;
    padding: 8px;
    margin: auto;
}

.metric_product > p{
    margin: auto;
}

.metric_imgs{
    width: 90px;
    height: 90px;
    background-color: rgba(128, 128, 128, 0.237);
    border-radius: 15px;
    padding: 15px;
    display: block;
    margin: 30px auto 0 auto;
}

.metricText{
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

.metricText p:nth-child(2){
    margin-top: 15px;
    font-size: 25px;
    font-weight: 500;
}

.metric_message{
    padding: 40px;
}

.metric_message > h2{
    font-weight: 600;
    margin-bottom: 20px;
    border-left: 4px solid #245055;
    padding-left: 20px;
}

.metric_message > p {
    margin-right: 50px;
    margin-bottom: 20px;
}

.metric_message > p:nth-child(3){
    font-size: 15px;
}

.findInput{
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 30px;
    margin-bottom: 10px;
    position: relative;
}


.findInput input{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    padding-left: 20px;
    color: var(--white);
    background-color: #171b31;
    font-size: 15px;
}

.findOrderSection > h2{
    font-size: 35px;
}

.totalOrders{
    text-align: left;
    margin-bottom: 30px;
}

#filterButton{
    position: absolute;
    right: 0px;
    width: 80px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #1f2044;
    cursor: pointer;
}

#filterButton img{
    width: 30px;
    margin-top: 5px;
}

.orderBox{
    width: 100%;
    height: 90px;
    background-color: #1f213a;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1.6fr 2fr 1.3fr 1.2fr;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s all;
}

.orderBox:hover, .metric_card:hover,
.metric_product:hover{
    transform: translate(2px,-2px);
    transition: 0.2s all;
}

.arrow-order{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.orderCode{
    color: var(--white);
}

.orderCode::before{
    content: "#";
    color:#8588a5;
}

.orderDate{
    color: #ced0e9;
    display: inline-block;
}

.order-item{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 400;
    transition: 0.3s all;
}

.icon-menu{
    margin-right: 15px;
    color: #ebedf531;
}

.orderInfo{
    color: #ebedf5;
    font-weight: 400;
}

.orderPrice{
    color: var(--white);
    font-size: 16px;
}

.orderStatus{
    text-align: center;
    width: 180px;
    border-radius: 10px;
    position: relative;
}

.pending{
    color: #e98718;
    font-weight: 600;
    background-color: #e9881822;
    display: inline-block;
    padding: 13px 45px 13px 40px;
}

.pending::before{
    content: '';
    background-color: #e98718;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.paid{
    color: #32d49e;
    font-weight: 600;
    background-color: #32d49e43;
    display: inline-block;
    padding: 13px 45px;
}

.paid::before{
    content: '';
    background-color: #32d49e;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


.showAllButton{
    width: 50%;
    margin: 40px auto;
    display: block;
    height: 60px;
    border-radius: 15px;
    background-color:  #3a3b64;
    color: #FFF;
    font-size: 16px;
    transition: 0.3s all;
    cursor: pointer;
}

.showAllButton:hover{
	background-color: #1f2044;
	transition: 0.3s all;
	transform: translate(2px, -2px);
}

.go-up{
	position: fixed;
	bottom: 30px;
	right: 30px;
	background-color: var(--indigo);
	border-radius: 15px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	opacity: 0;
	transition: 0.5s;
}
.go-up img{
	width: 100%;
	margin-top: -2px;
	transform: rotate(180deg);
}

@media only screen and (max-width: 1440px){
    .adjustWidth{
        width: var(--aw1440) !important;
    }
}

@media only screen and (max-width: 1024px){
    .findUserSection{
        overflow-x: hidden;
    }
    #results{
        width: 100%;
        overflow-y: scroll;
        display: block;
    }
    .findInput{
        display: block;
    }
    .findInput label, .findInput input{
        width: 100%;
    }

    .findInput input{
        position: relative;
    }

    #filterButton{
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 80px;
        height: 50px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: var(--indigo);
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 425px){}

@media only screen and (max-width: 320px){}